<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="E:\PerkingAutomation\src\test\java\testcases">
        <classes>

            <class name="testcases.LoginPageTest">
                <methods>
                    <include name="loginWithValidUsername"/>
                    <include name="loginWithValidPassword"/>
                </methods>
            </class>

            <class name="testcases.NewProductEntryTest">
                  <methods>
                      <include name="newProductEntry"/>
                  </methods>
              </class>

            <class name="testcases.JournalEntryTest">
                <methods>
                    <include name="JournalEntry"/>
                </methods>
            </class>


             <class name="testcases.PurchaseOrderTest">
                <methods>
                    <include name="newPurchaseOrder"/>
                </methods>
            </class>

          <class name="testcases.PurchaseVerificationTest">
              <methods>
                  <include name="PurchaseVerification"/>
              </methods>
          </class>

         <class name="testcases.SalesProposalTest">
                <methods>
                    <include name="SalesProposal"/>
                </methods>
            </class>

            <class name="testcases.SalesProposalVerificationTest">
                <methods>
                    <include name="SalesProposalVerification"/>
                </methods>
            </class>

            <!--<class name="testcases.SalesDeliveryVerificationTest">
             <methods>
                 <include name="SalesDeliveryVerification"/>
             </methods>
         </class>-->




           </classes>
       </test>
   </suite>